/* CSS Reset */
*{
    margin: 0%;
    padding: 0%;
    border: 0;
}
/* Style rule for body and images */
body{
      background-color: #f6eee4;
}

img{
    max-width: 100%;
    display: block;
}
/* Style rule for navigation area */
nav{
    background-color: #2a1f14;
}
/* Style rule for nav ul */
nav ul{
    margin: 0;
    text-align: center;
}
/*Style rule for nav li */
nav li{
    display: inline-block;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
nav li{
    display: block;
    color: #f6eee4;
    padding: 0.5em 2em;
    text-decoration: none;
}
/* Style rule for main content */
main{
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
}
/* Style rule for main p */
main p{
    font-size: 1.25em;
}
/* Style rule for main h3 */
main h3{
    padding: 2%;
}
/* Style rule fot main ul */
main ul{
    list-style-type: square;
}
/* Style rule for class link */
a{
   color: antiquewhite;
}
.link{
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}
/* Style rule for class action */
.action{
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}
/* Style rule for id */
.id{
    text-align: center;
}
/* Style rules for footer content */
footer{
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding: 1% 0%;
}
footer a{
    color: #f3e6d8;
    text-decoration: none;
}

